* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px; }

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

header {
  width: 100%;
  background-size: cover;
  background: #281a0c url("../img/bg.jpg") fixed; }
  header .container {
    position: relative;
    height: 700px; }
  header .menu {
    width: 100%;
    text-align: right; }
    header .menu a {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      display: inline-block;
      text-decoration: none;
      margin: 40px 20px 35px 20px;
      padding-bottom: 5px;
      position: relative;
      border-bottom: 2px solid transparent; }
      header .menu a:hover {
        border-bottom: 2px solid #fff; }
  header .intro {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px; }
    header .intro .sitename {
      font-size: 50px;
      font-weight: 600;
      margin: 0 0 10px 0; }
      header .intro .sitename span {
        font-weight: 300; }
    header .intro h3 {
      font-weight: 300;
      font-size: 25px;
      font-style: italic;
      margin: 0; }

.main {
  background: url("../img/bg-textura.png");
  background-repeat: repeat; }
  .main .about .container {
    overflow: visible;
    position: relative; }
  .main .about .photo {
    width: 80%;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35); }
    .main .about .photo img {
      vertical-align: top;
      width: 100%; }
  .main .about article {
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;
    top: 500px;
    float: right;
    z-index: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35); }
    .main .about article h3 {
      font-size: 50px;
      font-weight: 300;
      margin-bottom: 40px; }
    .main .about article p {
      line-height: 28px;
      margin-bottom: 15px; }
  .main .menu {
    margin-bottom: 50px; }
    .main .menu .title {
      font-size: 40px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 40px; }
    .main .menu .menu-container, .main .menu .menu-container2 {
      border: 1px solid #000;
      background: transparent;
      padding: 10px;
      overflow: hidden; }
    .main .menu article {
      width: 50%;
      float: left;
      padding: 20px; }
      .main .menu article .category {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center; }
      .main .menu article .toeat {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 4px dotted #000;
        overflow: hidden; }
      .main .menu article .name {
        font-size: 20px;
        margin-bottom: 15px;
        float: left; }
      .main .menu article .price {
        font-size: 20px;
        margin-bottom: 15px;
        float: right; }
      .main .menu article .description {
        font-size: 16px;
        margin-bottom: 15px;
        color: #676767;
        clear: both; }
  .main .photos {
    overflow: hidden; }
    .main .photos .photo {
      width: 25%;
      float: left; }
      .main .photos .photo:hover img {
        opacity: 1;
        transition: all .3s ease; }
      .main .photos .photo img {
        width: 100%;
        vertical-align: top;
        opacity: .7; }
  .main .location {
    background: #fff;
    padding: 60px 0;
    overflow: hidden; }
    .main .location .title {
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      font-weight: 300;
      margin-bottom: 40px; }
    .main .location .address {
      float: left;
      width: 50%;
      text-align: left; }
      .main .location .address .street {
        margin-bottom: 15px; }
    .main .location .times {
      float: right;
      width: 50%;
      text-align: right;
      overflow: hidden; }
      .main .location .times h4 {
        text-align: center;
        margin-bottom: 20px; }
      .main .location .times .on-week, .main .location .times .on-weekend {
        width: 50%;
        float: left;
        text-align: center; }
  .main .map {
    width: 100%;
    overflow: hidden; }
    .main .map iframe {
      width: 100%;
      max-height: 600px;
      vertical-align: top; }

footer {
  background: #000; }
  footer .copy {
    text-align: center;
    padding: 15px 0;
    color: #fff; }

@media screen and (max-width: 800px) {
  header .container {
    position: static;
    height: auto; }
  header .intro {
    position: static;
    margin: 100px 0; }
    header .intro .sitename {
      font-size: 30px; }
    header .intro h3 {
      font-size: 18px; }
  header .menu {
    text-align: center; }
    header .menu a {
      margin: 10px 20px; }

  .main .about .photo {
    width: 100%;
    position: relative; }
  .main .about article {
    position: relative;
    width: 100%;
    top: -50px;
    transform: translate(0px, 0); }
  .main .menu {
    padding-top: 300px; }
    .main .menu article {
      width: 100%; }
  .main .photos .photo {
    width: 50%; }
  .main .map {
    width: 80%;
    margin: auto; } }
@media screen and (max-width: 400px) {
  .main .about article h3 {
    font-size: 34px;
    margin-bottom: 10px; }
  .main .menu article .name, .main .menu article .price {
    font-size: 16px;
    line-height: 16px; }
  .main .location .address, .main .location .times {
    width: 100%;
    text-align: center; }
  .main .location .address {
    margin-bottom: 15px; } }

/*# sourceMappingURL=master.css.map */
