header {
  width: 100%;
  background-size: cover;
  background: #281a0c url("../img/bg.jpg") fixed;
  .container {
    position: relative;
    height: 700px;
  }
  .menu {
    width: 100%;
    text-align: right;
    a {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      display: inline-block;
      text-decoration: none;
      margin: 40px 20px 35px 20px;
      padding-bottom: 5px;
      position: relative;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }
  .intro {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px;
    .sitename {
      font-size: 50px;
      font-weight: 600;
      margin: 0 0 10px 0;
      span {
        font-weight: 300;
      }
    }
    h3 {
      font-weight: 300;
      font-size: 25px;
      font-style: italic;
      margin: 0;
    }
  }
}