.main {
  background: url("../img/bg-textura.png");
  background-repeat: repeat;
  .about {
    .container {
      overflow: visible;
      position: relative;
    }
    .photo {
      width: 80%;
      position: absolute;
      left: 0;
      top: -50px;
      z-index: 0;
      box-shadow: 0px 0px 15px rgba(#000, .35);
      img {
        vertical-align: top;
        width: 100%;
      }
    }
    article {
      background: #fff;
      padding: 40px;
      width: 50%;
      position: relative;
      top: 500px;
      float: right;
      z-index: 1;
      box-shadow: 0px 0px 15px rgba(#000, .35);
      h3 {
        font-size: 50px;
        font-weight: 300;
        margin-bottom: 40px;
      }
      p {
        line-height: 28px;
        margin-bottom: 15px;
      }
    }
  }
  .menu {
    padding-top: 570px;
    margin-bottom: 50px;
    .title {
      font-size: 40px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 40px;
    }
    .menu-container, .menu-container2 {
      border: 1px solid #000;
      background: transparent;
      padding: 10px;
      overflow: hidden;
    }
    article {
      width: 50%;
      float: left;
      padding: 20px;
      .category {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
      }
      .toeat {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 4px dotted #000;
        overflow: hidden;
      }
      .name {
        font-size: 20px;
        margin-bottom: 15px;
        float: left;
      }
      .price {
        font-size: 20px;
        margin-bottom: 15px;
        float: right;
      }
      .description {
        font-size: 16px;
        margin-bottom: 15px;
        color: #676767;
        clear: both;
      }
    }
  }
  .photos {
    overflow: hidden;
    .photo {
      width: 25%;
      float: left;
      &:hover img {
        opacity: 1;
        transition: all .3s ease;
      }
      img {
        width: 100%;
        vertical-align: top;
        opacity: .7;
      }
    }
  }
  .location {
    background: #fff;
    padding: 60px 0;
    overflow: hidden;
    .title {
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      font-weight: 300;
      margin-bottom: 40px;
    }
    .address {
      float: left;
      width: 50%;
      text-align: left;
      .street {
        margin-bottom: 15px;
      }
    }
    .times {
      float: right;
      width: 50%;
      text-align: right;
      overflow: hidden;
      h4 {
        text-align: center;
        margin-bottom: 20px;
      }
      .on-week, .on-weekend {
        width: 50%;
        float: left;
        text-align: center;
      }
    }
  }
  .map {
    width: 100%;
    overflow: hidden;
    iframe {
      width: 100%;
      max-height: 600px;
      vertical-align: top;
    }
  }
}