@media screen and (max-width: 800px) {
  header {
    .container {
      position: static;
      height: auto;
    }
    .intro {
      position: static;
      margin: 100px 0;
      .sitename {
        font-size: 30px;
      }
      h3 {
        font-size: 18px;
      }
    }
    .menu {
      text-align: center;
      a {
        margin: 10px 20px;
      }
    }
  }
  .main {
    .about {
      .photo {
        width: 100%;
        position: relative;
      }
      article {
        position: relative;
        width: 100%;
        top: -50px;
        transform: translate(0px, 0);
      }
    }
    .menu {
      padding-top: 300px;
      article {
        width: 100%;
      }
    }
    .photos {
      .photo {
        width: 50%;
      }
    }
    .map {
      width: 80%;
      margin: auto;
    }
  }
}
@media screen and (max-width: 400px) {
  .main {
    .about {
      article {
        h3 {
          font-size: 34px;
          margin-bottom: 10px;
        }
      }
    }
    .menu {
      article {
        .name, .price {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
    .location {
      .address, .times {
        width: 100%;
        text-align: center;
      }
      .address {
        margin-bottom: 15px;
      }
    }
  }
}